body {
  background-color: white;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.7em;
  margin-top: 0;
}

h1.hero-text {
  font-weight: 100;
  font-size: 7em;
  /* padding: 200px 50px; */
  /* padding: 50px; */
  padding: 50px 50px 0 50px;
  width: 600px;
  position: relative;
  z-index: 2;
  margin-block-end: 0.2em;
}

.hero-subtext {
  margin-left: 58px;
}

h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
  margin-top: 0;
}

h4 {
  font-weight: normal;
}

img.img_header {
  width:100%;
  /* filter: brightness(90%) grayscale(30%); */
  filter: opacity(0.5)
  height: 600px;
  object-fit: cover;
  position: fixed;
  top: 0;
}

img.thumb {
  width:100%;
}

img.large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 100%;
  /* max-width: 100%;
  max-height: 75%; */
  float: left;
}

img#logo {
  height:75px;
}

select#filters {
  background: white;
  width: 300px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  font-size: 1em;
  float:right;
}

div#places {
  position: relative;
  /* z-index: 10; */
  margin:10px;
  float: left;
}

.header-images {
  height: 500px;
}

.art-container {
  position: relative;
  float: left;
  /* width: 25%; */
  width: calc(25% - 20px);
  padding: 10px;
  /* margin-top: -4px; */
  background: white;
}

.featured {
  /* width:50%; */
  width: calc(50% - 20px);
  padding: 10px;
}

.right {
  float:right;
}

.modal-container {

}

.modal-BG {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  top: 0;
  z-index: 1;
  left: 0;
  cursor: pointer;
}

.modal-FG {
    position: fixed;
    background: white;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    z-index: 2;
}

.modal-container {
  display: none;
}

.hover-text-container {
  display: none;
  background: gray;
  /* height: 100%; */
  height: calc(100% - 24px);
  position: absolute;
  /* width: 100%; */
  width: calc(100% - 20px);
  opacity: .8;
  cursor: pointer;
}

.art-container:hover .hover-text-container {
  display: block;
}

.hover-text {
  color: white;
  display: inline-block;
  text-align: center;
  width: 80%;
  margin-top: calc(50% - 18px);
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  /* background: #aaa; */
  width: 100%;
  height: 100px;
}

.logo-container {
  float:left;
}

.dropdown-container {
  width:100%;
  height: 40px;
}

div.description {
  padding: 20px;
  /* float: left; */
}

.close-x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

div.about-artist {
  position: relative;
  float: left;
  padding-bottom: 100px;
}

h2.about-title {
  margin: 20px 0 0 20px;
  font-weight: 400;
}

.artist-image-container {
  /* width:50%; */
  width: calc(50% - 30px);
  padding:20px;
  float: left;
}

img.artist-image {
  width:100%;
}

.about-artist-container {
  float: left;
  width: calc(50% - 30px);
}

div.about-text {
  padding:10px 0;
}
